<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PSM | Dev Connect</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar is-paddingless is-marginless" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="/"><h2>PSM | Dev Connect</h2></a>
        </div>
    </nav>
    <section class="main-content columns is-fullheight body-content">
        <aside class="side-nav column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile has-background-dark has-text-light is-paddingless">
            <ul class="menu-list">
                <li>
                    <a href="#" class="is-active">
                        <span class="icon"><i class="fa fa-home"></i></span> Home
                    </a>
                </li>
                <li>
                    <a href="#" class="">
                        <span class="icon"><i class="fa fa-info"></i></span> Website Data
                    </a>
                </li>
                <li>
                    <a href="#" class="">
                        <span class="icon"><i class="fa fa-info"></i></span> Control Panel Data
                    </a>
                </li>
                <li>
                    <a href="#" class="">
                        <span class="icon"><i class="fa fa-info"></i></span> About
                    </a>
                </li>
            </ul>
        </aside>

        <div class="body-content container column is-10">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - PSM | Dev Connect</p>
            </footer>
        </div>
    </section>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/vue")
    @RenderSection("scripts", required: false)
</body>
</html>
